body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}
.calculator{
  width: 250px;
  background-color: #ffff;
  border-radius: 8px;
  box-shadow: 0 0 10px(rgb(0, 0, 0.1));
  padding: 20px;
}

#display{
  width: 230px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  border: 1px solid #dddd;
  border-radius: 5px;
}

.button{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}

.btn{
  padding: 15px;
  margin-right: 2px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.btn:active{
  background-color: #ddd;
}

.operator{
  background-color: rgb(248, 190, 0);
}

.operator:active{
  background-color: rgb(201, 89, 15);
}

.clear{
  grid-column: span 4;
  background-color: red;
  color: white;
  width: 100%;
}

.clear:active{
  background-color: rgb(204, 6, 6);
}

.btn:nth-child(5) { /* Tombol angka 4 */
  background-color: #4CAF50; /* Warna hijau */
  color: white;
}

.btn:nth-child(6) { /* Tombol angka 5 */
  background-color: #2196F3; /* Warna biru */
  color: white;
}

.btn:nth-child(5):active { /* Efek klik tombol 4 */
  background-color: #388E3C;
}

.btn:nth-child(6):active { /* Efek klik tombol 5 */
  background-color: #1976D2;
}
